body {
    font-family: 'CMUSerifRoman',serif;
    font-size: 1.5rem;
    margin: 3rem 5rem;
    background-color: white;
    color: black;
}

a {
    color: black;
}

code {
    font-family: monospace;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

section {
    padding: 0.5rem;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    margin-right: 0.5rem;
}
